html {
  background: repeating-conic-gradient(
    rgba(101, 49, 151, 90%) 0 12deg,
    rgba(34, 14, 154, 60%) 12deg 24deg
  );
  font-family: Arial, sans-serif;
}

button {
  background: linear-gradient(rgb(233, 227, 103), rgb(243, 189, 39));
  border-radius: 50%;
  color: white;
  font-size: large;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

button:active {
  box-shadow: 0 1px 0 gray;
  outline: none;
}

.center {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 420px) {
  .center {
    padding: 10px;
  }
}

@media (min-width: 421px) and (max-width: 780px) {
  .center {
    padding: 15px;
  }
}

@media (min-width: 781px) and (max-width: 1024px) {
  .center {
    padding: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .center {
    padding: 25px;
  }
}

@media (min-width: 1441px) {
  .center {
    padding: 30px;
  }
}
